/*
================================
Very Large Screens
================================
*/
@media (width > 1400px) {
    .container {
        width: 1360px;
    }

    /*Hero Section*/
    .hero-content {
        left: 4% ;
    }
    /* End Of Hero Section*/


    /*Dance Tour Section*/
    


}

/*
================================
Large Screens
================================ 
*/

@media (1200px < width <= 1400px) {
    .container {
        width: 1170px;
    }

    /*Hero Section*/
    .hero-content {
        left: 3% ;
    } 
    /* End Of Hero Section*/


}
    

/*
================================
Medium Screens
================================ 
*/

@media (991px < width <= 1200px) {
    .container {
        width: 960px;
    }


    /*Dance Tour Section*/
    .dance-tour {
        background-position: left -50%;
    }
    

    
}

/*
================================
Small Screens
================================ 
*/

@media (768px < width <= 990px) {
    .container {
        width:760px;
    }
    .section-heading h2 {
        font-size: 2.2rem;
    }
    .section-heading p, .card-content p {
        font-size: 1rem;
    }


    /*Dance Tour Section*/
    .dance-tour {
        background-position: left -20%;
    }
}

/*
================================
Very Small Screens
================================ 
*/

@media (560px < width <= 767px) {
    .container {
        width:540px;
    }
    .section-heading h2 {
        font-size: 2rem;
    }
    .section-heading p, .card-content p {
        font-size: 0.95rem;
    }

    /*Hero Section*/
    .hero-content {
        width: 60%;
        top: calc(0.5*(100vh - 90px));
        transform: translateY(-20%);
    }
    .hero-content h1 {
        font-size: 3.5rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
    /* End Of Hero Section*/


    /*Dance Tour Section*/
    .dance-tour {
        background-position: left 5%;
    }
}


/*
================================
Very Extra Small Screens
================================ 
*/

@media (width <= 560px) {
    .container {
        width: 100%;
    }
    .section-heading h2 {
        font-size: 1.8rem;
    }
    .section-heading p, .card-content p {
        font-size: 0.8rem;
    }

    /*Hero Section*/
    .hero-content {
        width: 70%;
        padding-left: 1rem;
        top: calc(0.5*(100vh - 90px));
        transform: translateY(-20%);
    }
    .hero-content h1 {
        font-size: 2.8rem;
    }
    .hero-content p {
        font-size: 0.8rem;
    }
    /* End Of Hero Section*/


    /*Dance Tour Section*/
    .dance-tour {
        background-position: left 10%;
    }
}

/*
================================
End of Media Queries
================================ 
*/

/* General Media Queries*/

@media (width >= 768px) {
    .for-mobile {
        display: none;
    }
}

@media (width <= 768px) {
    .for-desktop {
        display: none;
    }
}

/* End of General Media Queries */
