/*
================================
Page content styles
================================
*/

/* --------------- Header Styles --------------- */
header {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #303030;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Navigation Styles */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
    background-color: #e8631c;
    color: #fff;
    
}
/* End of Navigation Styles */

/* --------------- End Of Header Styles --------------- */


/* --------------- Hero Section Styles --------------- */
.hero {
    height: 100vh;
    max-height: 100vh;
    background-image: url('../img/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 0;
    position: relative;
}

.hero .container {
    height: 100%;
}
.hero-content {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 0%;
    width: 40%;
    height: fit-content;

    
    align-items: start;
    text-align: left;
}
.hero-content h1 {
    font-size: 5rem;
    margin-bottom: 1.25rem;

}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero-content a {
    padding: 0.5rem 3rem;
    background-color: #e8631c;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.hero-content a:hover {
    background-color: #333;
    color: #e8631c;
}

/* --------------- End of Hero Section Styles --------------- */




/* --------------- Dance Tour Section ---------------*/
.dance-tour {
    padding: 2rem 0;
    background-color: #e8631c;
    background-image: url('../img/Shape.png');
    background-size: 40% auto;
    background-position: left -60%;
    background-repeat: no-repeat;
}


.dance-card {
    padding: 0;
    border-radius: 0;
    background-color: #303030;
}
/* --------------- End Of Dance Tour Section ---------------*/



/* --------------- Pricing Section ---------------*/
.pricing {
    padding: 2rem 0;
    background-color: #303030;
    background-image: url('../img/Shape3.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    
}

.pricing-card {
    padding: 1rem 0.5rem 0 ;
    background-color: #e8631c;
}

.pricing-card .card-content > * {
    display: block;
    margin-bottom: 1rem;
}

.pricing-card i {
    font-size: 3rem;
}

.pricing-card button {
    background-color: #303030;
    width: 100%;
    margin: auto;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    font-weight: 600;
}
/* --------------- End Of Pricing Styles ---------------*/


/* --------------- About Styles --------------- */
.about {
    padding: 0;
}

.aboutRow {
    width: 100%;
    display: Grid;
    grid-template-columns: repeat(2,50vw);
    gap: 0;
}

.col1 {
    background-image: url('../img/sec04.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col2, .col3 {
    background-color: #e8631c;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem;
}

.col4 {
    background-image: url('../img/sec03.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.about-col-content {
    min-height: 80vh;
    justify-content: center;
    align-items: start;
}

.about-col-content button {
    background-color: #303030;
    color: #fff;
    padding-block: 0.75rem ;
}
/* --------------- End Of About Styles ---------------*/


/* --------------- Statistics Styles --------------- */
.statistics {
    background-color: #303030;
    padding-block: 3rem;
}
/* --------------- End Of Statistics Styles --------------- */


/* --------------- Quote Styles --------------- */
.quote {
    min-height: 80vh;
    background-image: url('../img/quote.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quote-content {
    position: relative;
    z-index: 2;
    height: 80vh;
}

.quote-content p {
    text-align: center;
}
/* --------------- End Of Quote Styles --------------- */


/* --------------- Footer Styles --------------- */
footer {
    background-color: #303030;
    color: #fff;
    padding: 2rem 0;
}

.social-icons {
    gap: 1rem;
}


.footer-content {
    justify-content: space-between;
    align-items: start;
}

.footer-content .left-content {
    width: 30%;
}

.footer-content .right-content {
    width: 60%;
    justify-self: flex-end;
    justify-content: space-between;
}

.right-content ul {
    list-style: none;

}


/*Mobile Footer*/
footer .for-mobile .left {
    width: 30%;
}

footer .for-mobile .right {
    width: 40%;
    justify-self: flex-end;
    justify-content: space-between;
}
/* --------------- End Of Footer Styles --------------- */